<% include partials/header.ejs %>

<form method="GET" action="/newpost">
    <button class="btn btn-outline-primary post">Post</button>
    <br><br>
</form>
<div class="container" style="color:white;">
     <% posts.forEach(function(post){ %>
     <div class="row neeche">
     <div class="col-md-7">
       <a href="#">
         <img class="img-fluid rounded" src="<%=post.img%>" alt="">
       </a>
     </div>
     <div class="col-md-5">
       <h2><%=post.title%></h2>
       <br>
       <p style="color:#B5B5B5"><%=post.description%></p>
       
       <form method="POST" action="/comments/<%=post._id%>">
          <input type="text" placeholder="Add a Comment" name = "comment">
          <button class="btn btn-outline-primary">Comment</button>
       </form>
       <ul>
       <% if (post){ %>
       <% post.comments.forEach(function(comment){ %>
          <li><%=comment.text%></li>
          <% }); %>
          <% } %>
       </ul>

     </div>
   </div>
   <hr>
                <% }) %>
            </div>
            <% include partials/footer.ejs %>